<input type="text" placeholder="Buscar Amigo" [(ngModel)]="query">
<br/>
Amigos
<ng-container *ngFor="let user of friends | search: query; let i = index" >
  <div>
    <a routerLink="/conversation/{{user.uid}}">    
      {{user.nick}} - {{user.email}} {{i}}
    </a>  
  </div>
</ng-container>
